.main-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 24px;
}

.work{
  background-color: white;
  box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: relative;
  gap: 10px;
}

.work img{
  max-height: 200px;
  object-fit: cover;
  border-radius: 25px;
}

.work-content{
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

img.next-button{
  max-height: 35px;
  width: auto;
  position: absolute;
  bottom: 30px;
  right: 30px;
  opacity: 30%;
}

.heading{
  padding-bottom: 50px;
  text-align: center;
}

@media only screen and (max-width: 480px){

  .main-grid{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .main-grid div:nth-child(1){
    grid-column: auto;
    grid-row: auto;
  }

  .main-grid div:nth-child(2){
    grid-column: auto;
    grid-row: auto;
  }

  .main-grid div:nth-child(3){
    grid-column: auto;
    grid-row: auto;
  }

  .main-grid div:nth-child(4){
    grid-column: auto;
    grid-row: auto;
  }

  .main-grid div:nth-child(5){
    grid-column: auto;
    grid-row: auto;
  }

  .main-grid div:nth-child(6){
    grid-column: auto;
    grid-row: auto;
  }

  .main-grid div:nth-child(7){
    grid-column: auto;
    grid-row: auto;
  }

  .main-grid div:nth-child(8){
    grid-column: auto;
    grid-row: auto;
  }

  .main-grid div:nth-child(9){
    grid-column: auto;
    grid-row: auto;
  }

  img.next-button{
    bottom: 20px;
    right: 20px;
  }

  .work{
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.25);
  }

}